<div class="main">
  <div class="main_contents">
    <div class="main_top">
      <div class="avatar_img">
      </div>
      <div class="avatar_status">
      </div>
    </div>
    <div class="main_bottom">
      <div class="progress">
      </div>
      <div class="calendar">
      </div>
    </div>
  </div>
</div>